@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

.placeholder-styles{
    font-size: 20px;
    font-weight: 300;
    color: #b3b3b3;
}